html {
  overflow-x: clip;
  @supports not (overflow-x: clip) {
    overflow-x: hidden;
  }
  scroll-behavior: smooth;
}

body {
  @apply bg-surface;

  margin: 0;
  overflow-x: clip;
  @supports not (overflow-x: clip) {
    overflow-x: hidden;
  }

  @apply text-on-surface;
  @apply text-body-medium;
}
