---
import LinkButton from "../components/linkButton/link.button";
---
<header>
    <div>
        <nav>
            <menu class="">
                <li>

                </li>
            </menu>
        </nav>
    </div>
</header>
